workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69267316-46fd-4da0-8a0a-42b45da9f70d/webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -64
      ],
      "id": "376eb968-e1d3-4b99-8885-85f6df40fc5f",
      "name": "Webhook",
      "webhookId": "69267316-46fd-4da0-8a0a-42b45da9f70d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        -384
      ],
      "id": "66319360-ef2b-4a44-a5b0-10cdb010acb5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BuGN9nUzSAqaGAxY",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Role: You are an HR Automation Engine. Task: Extract intent and entities from Thai or any language text into JSON. \n\nCurrent Date: {{ $now.format('yyyy-MM-dd') }} \nRules: \n\n1. Intent: Must be 'leave_request' or 'check_balance' or 'unknown'. \n2. Entities:    \n   - type: 'sick' or 'vacation' (null if unknown)     \n   - start_date: YYYY-MM-DD (Calculate relative dates)     \n   - end_date: YYYY-MM-DD     \n   - reason: String (or null) \n3. Date Logic:\n   - If a range is mentioned (e.g., \"Monday to Wednesday\"), calculate both dates.\n   - If only one day is mentioned (e.g., \"tomorrow\"), start_date and end_date MUST be the same.\n4. Output: RAW JSON ONLY. \n   No markdown (```json). No chatter. \n\nExample Input: \"ขอลาป่วยพรุ่งนี้ถึงมะรืน ปวดหัว\" \nExample Output: { \"intent\": \"leave_request\", \"entities\": { \"type\": \"sick\", \"start_date\": \"2025-12-17\", \"end_date\": \"2025-12-18\", \"reason\": \"ปวดหัว\" } }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -32,
        -576
      ],
      "id": "6aa92902-55a8-4557-ad47-82f90140cbba",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "g",
        "actualAnswer": "g",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        544,
        400
      ],
      "id": "4bedb98a-9ee2-4446-b396-2707c3e4dc31",
      "name": "Evaluation1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $now }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        144,
        384
      ],
      "id": "0bc3b895-6e30-4d31-9e65-088435b53ca7",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "leave_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "274fef03-4c51-4870-b7a4-2346ac12679c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "leave_request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "99f0197d-96b3-46d5-a317-41260c539d6d",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "check_balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_balance"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        608,
        -592
      ],
      "id": "66ba2ce6-a2da-46e9-bbac-70d3a2b597b2",
      "name": "Switch"
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1568,
        -608
      ],
      "id": "c82f2fa4-3910-40c7-9ce9-bcae4a8b610f",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "ywcMulJz3h91in74",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leave_requests (user_id, leave_type, start_date, end_date, reason)\nVALUES (\n  -- 1. Get the ID from the previous Postgres node\n'{{ $json.user_id }}',\n  -- 2. Get the Type from the AI (Parsed from JSON)\n  '{{ $('Switch').item.json.entities.type }}',\n  \n  -- 3. Get the Date \n  '{{ $('string map to json').item.json.entities.start_date }}',\n  '{{ $('string map to json').item.json.entities.end_date }}',\n  \n  -- 4. Get the Reason\n  '{{ $('Switch').item.json.entities.reason }}'\n)\nRETURNING request_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        -1280
      ],
      "id": "0340e868-21c0-4452-b154-84e7b31fc7ec",
      "name": "Insert Leave Request",
      "credentials": {
        "postgres": {
          "id": "mnx6Ptx3pJz2pBO9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.events[0].message.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a friendly and professional HR Assistant for a company.\n\nYour Goal: Reply to the user's message politely and briefly.\n\nGuidelines:\n\nIf the user says \"Hello\" or greets you, greet them back warmly and ask if they need to submit a leave request.\n\nIf the user asks who you are, explain that you are the HR Leave Automation Bot.\n\nIf the user talks about something unrelated (like football or weather), politely remind them that you can only help with Leave Requests or Checking Leave Balance.\n\nKeep your answer short (under 2 sentences).\n\nReply in the same language the user used (Thai, English or anylanguage)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1216,
        -688
      ],
      "id": "9cc95186-78be-4f27-aac6-90abd6bbbca3",
      "name": "Basic LLM Chain1 to send a polite reply"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -48,
        -384
      ],
      "id": "7827f63b-1f9b-4e0a-8d3f-833d24690a4f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "q9ZOh8D4WsS9mKte",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        -512
      ],
      "id": "5413fbda-19ee-40a4-9c61-e179d34d2578",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BuGN9nUzSAqaGAxY",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1424,
        -448
      ],
      "id": "f2cc5a74-9ee0-4a5c-892f-5a15c0fe3b89",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "q9ZOh8D4WsS9mKte",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sick_leave_balance, vacation_leave_balance \nFROM users \nWHERE line_user_id = '{{ $('Webhook').item.json.body.events[0].source.userId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        -960
      ],
      "id": "4aa74702-3dc6-4ddf-9b87-58eac860f817",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "mnx6Ptx3pJz2pBO9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "text": "=Here is your current leave balance:\n\n🤒 Sick Leave: {{ $json.sick_leave_balance }} days\nvacation Vacation Leave:  {{ $json.vacation_leave_balance }}days\n\n(Data from HR Database)"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1328,
        -944
      ],
      "id": "d69025c9-eb61-4e15-87f4-59fbc8cec4bc",
      "name": "Line Messaging2",
      "credentials": {
        "lineMessagingApi": {
          "id": "ywcMulJz3h91in74",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60177f2f-dd3f-45e4-b4a8-fd5944d0d699"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9c8edeaf-0726-4681-b8b9-4bce044a1ba0",
                    "leftValue": "={{ $json.body.events[0].type }}",
                    "rightValue": "postback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Button Click"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -464,
        -48
      ],
      "id": "52dae2e8-46fb-4cca-984c-6cb570bfde72",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "\n// 1.Get the data string (e.g., \"action=approve&reqId=15\")\nconst dataString = $('Webhook').first().json.body.events[0].postback.data;\n\n//2. Parse it manually\nconst params = {};\ndataString.split('&').forEach(part => {\n  const [key, value] = part.split('=');\n  params[key] = value;\n});\n\n// 3. Return the clean JSON\nreturn {\n  json: {\n    action: params.action, // \"approve\" or \"reject\"\n    reqId: params.reqId    // \"15\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        48
      ],
      "id": "a1c6032c-93a3-45c4-958d-fde80d720a0d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leave_requests\nSET status = '{{ $json.action }}ed', -- Becomes \"approved\" or \"rejected\"\n    manager_comment = 'Auto-processed by Bot'\nWHERE request_id = {{ $json.reqId }}\nRETURNING user_id, leave_type, start_date, end_date;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        48
      ],
      "id": "abca7278-b46d-4019-9f4b-a02133855f24",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "mnx6Ptx3pJz2pBO9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "text": "=Request #{{ $('Code in JavaScript1').item.json.reqId }} has been {{ $('Code in JavaScript1').item.json.action }}ed."
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        160,
        48
      ],
      "id": "270a6a43-bd26-4ddc-8a17-fdb00d8b74aa",
      "name": "Line Messaging4",
      "credentials": {
        "lineMessagingApi": {
          "id": "ywcMulJz3h91in74",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (line_user_id, display_name)\nVALUES ('{{ $('Webhook').item.json.body.events[0].source.userId }}', 'Unknown')\nON CONFLICT (line_user_id) \nDO UPDATE SET is_active = TRUE\nRETURNING user_id, sick_leave_balance, vacation_leave_balance;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        -1280
      ],
      "id": "271225ac-3196-48ed-ad29-1690ee511668",
      "name": "User Check",
      "credentials": {
        "postgres": {
          "id": "mnx6Ptx3pJz2pBO9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst rawData = $input.first().json.text;\nreturn {\n  json: JSON.parse(rawData)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -528
      ],
      "id": "0ac2a535-db73-49a5-b959-6f48641c264d",
      "name": "string map to json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69caff93-7cfb-4189-a230-1cef1030b467",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        -1280
      ],
      "id": "c05b8b4b-6fbd-49e0-9596-883540b568b1",
      "name": "If enough balance"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get inputs from previous nodes\n// Note: Replace 'AI Parsing' and 'User Check' with your actual node names\nconst aiData = $('string map to json').first().json; \nconst userData = $input.first().json; \n\n// 2. Parse Dates & Calculate Duration\nconst start = new Date(aiData.entities.start_date);\nconst end = new Date(aiData.entities.end_date);\n\n// Calculate time difference in milliseconds\nconst diffTime = Math.abs(end - start);\n// Convert to days (Divide by ms per day) + 1 for inclusive dates\nconst duration = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;\n\n// 3. Check Balance based on Leave Type\nlet hasBalance = false;\nlet currentBalance = 0;\nconst leaveType = aiData.entities.type; // 'sick' or 'vacation'\n\nif (leaveType === 'sick') {\n  currentBalance = userData.sick_leave_balance;\n  hasBalance = currentBalance >= duration;\n} else if (leaveType === 'vacation') {\n  currentBalance = userData.vacation_leave_balance;\n  hasBalance = currentBalance >= duration;\n} else {\n  // Default for unknown types (or handle error)\n  hasBalance = false; \n}\n\n// 4. Return Data for the \"If\" Switch\nreturn {\n  json: {\n    isValid: hasBalance,\n    duration: duration,\n    currentBalance: currentBalance,\n    leaveType: leaveType,\n    // Pass through original data needed for next steps\n    start_date: aiData.entities.start_date,\n    end_date: aiData.entities.end_date,\n    reason: aiData.entities.reason,\n    user_id: userData.user_id\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -1280
      ],
      "id": "fe2647d7-81dd-4690-8764-35cb5c13e1c5",
      "name": "Balance Validation"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
        "messages": {
          "values": [
            {
              "altText": "New Leave Request!",
              "flexJson": "={\n  \"type\": \"bubble\",\n  \"header\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"NEW REQUEST 📋\",\n        \"weight\": \"bold\",\n        \"color\": \"#1DB446\",\n        \"size\": \"sm\"\n      }\n    ]\n  },\n  \"body\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Sick Leave\",\n        \"weight\": \"bold\",\n        \"size\": \"xxl\",\n        \"margin\": \"md\"\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"Reason: {{ $('string map to json').item.json.entities.reason }}\",\n        \"size\": \"xs\",\n        \"color\": \"#aaaaaa\",\n        \"wrap\": true\n      },\n      {\n        \"type\": \"separator\",\n        \"margin\": \"xxl\"\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"margin\": \"xxl\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"Start\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $('string map to json').item.json.entities.start_date }}\",\n                \"wrap\": true,\n                \"color\": \"#666666\",\n                \"size\": \"sm\",\n                \"flex\": 5\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"End\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $('string map to json').item.json.entities.end_date }}\",\n                \"wrap\": true,\n                \"color\": \"#666666\",\n                \"size\": \"sm\",\n                \"flex\": 5\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"ID\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $('Insert Leave Request').item.json.request_id }}\",\n                \"wrap\": true,\n                \"color\": \"#666666\",\n                \"size\": \"sm\",\n                \"flex\": 5\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  },\n  \"footer\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"spacing\": \"sm\",\n    \"contents\": [\n      {\n        \"type\": \"button\",\n        \"style\": \"primary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"postback\",\n          \"label\": \"Approve\",\n          \"data\": \"action=approve&reqId={{ $('Insert Leave Request').item.json.request_id }}\",\n          \"displayText\": \"I approve this request\"\n        }\n      },\n      {\n        \"type\": \"button\",\n        \"style\": \"secondary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"postback\",\n          \"label\": \"Reject\",\n          \"data\": \"action=reject&reqId={{ $('Insert Leave Request').item.json.request_id }}\",\n          \"displayText\": \"I reject this request\"\n        }\n      }\n    ],\n    \"flex\": 0\n  }\n}",
              "type": "flex"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2240,
        -1232
      ],
      "id": "6897e187-58e2-44e2-a546-5d792d4a76f7",
      "name": "Notify to Manager",
      "credentials": {
        "lineMessagingApi": {
          "id": "ywcMulJz3h91in74",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "text": "=Leave Request Received! 📝\nType: {{ $('string map to json').item.json.intent }}\nStart Date: {{ $('string map to json').item.json.entities.start_date }}\nEnd Date: {{ $('string map to json').item.json.entities.end_date }}\nReason: {{ $('string map to json').item.json.entities.reason }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2016,
        -1232
      ],
      "id": "10bc7ee1-d92a-4078-a776-88aa971c4110",
      "name": "Success Request MSG",
      "credentials": {
        "lineMessagingApi": {
          "id": "ywcMulJz3h91in74",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "replyToken": "={{ $('Webhook').item.json.body.events[0].replyToken }}",
        "messages": {
          "values": [
            {
              "altText": "❌ Request Rejected",
              "flexJson": "={\n  \"type\": \"bubble\",\n  \"styles\": {\n    \"header\": {\n      \"backgroundColor\": \"#FFEBEE\"\n    }\n  },\n  \"header\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"REQUEST REJECTED ❌\",\n        \"weight\": \"bold\",\n        \"color\": \"#D32F2F\",\n        \"size\": \"sm\"\n      }\n    ]\n  },\n  \"body\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Insufficient Balance\",\n        \"weight\": \"bold\",\n        \"size\": \"xl\",\n        \"margin\": \"md\",\n        \"color\": \"#333333\"\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"You do not have enough leave days remaining for this request.\",\n        \"size\": \"sm\",\n        \"color\": \"#666666\",\n        \"wrap\": true,\n        \"margin\": \"md\"\n      },\n      {\n        \"type\": \"separator\",\n        \"margin\": \"lg\"\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"margin\": \"lg\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"Requested\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $json.duration }} days\",\n                \"wrap\": true,\n                \"color\": \"#333333\",\n                \"size\": \"sm\",\n                \"flex\": 2,\n                \"weight\": \"bold\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"Remaining\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $json.currentBalance }} days\",\n                \"wrap\": true,\n                \"color\": \"#333333\",\n                \"size\": \"sm\",\n                \"flex\": 2,\n                \"weight\": \"bold\"\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  }\n}",
              "type": "flex"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1712,
        -1056
      ],
      "id": "421c826a-83b2-4f88-8307-c7f3bcacfab0",
      "name": "Failed Request MSG",
      "credentials": {
        "lineMessagingApi": {
          "id": "ywcMulJz3h91in74",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2118fff5-0287-4a62-aedd-4348dc91a8cd",
              "leftValue": "={{ $('Code in JavaScript1').item.json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        48
      ],
      "id": "01f88524-9460-40a1-9b42-84c7992acb7c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users\nSET\n  sick_leave_balance = CASE\n    WHEN '{{ $('Execute a SQL query2').item.json.leave_type }}' = 'sick'\n    THEN sick_leave_balance - (('{{ new Date($('Execute a SQL query2').item.json.end_date).toISOString().split('T')[0] }}'::date - '{{ new\n      Date($('Execute a SQL query2').item.json.start_date).toISOString().split('T')[0] }}'::date) + 1)\n    ELSE sick_leave_balance\n  END,\n vacation_leave_balance = CASE\n   WHEN '{{ $('Execute a SQL query2').item.json.leave_type }}' = 'vacation'\n    THEN vacation_leave_balance - (('{{ new Date($('Execute a SQL query2').item.json.end_date).toISOString().split('T')[0] }}'::date - '{{ new\n      Date($('Execute a SQL query2').item.json.start_date).toISOString().split('T')[0] }}'::date) + 1)\n   ELSE vacation_leave_balance\n  END\nWHERE user_id = {{ $('Execute a SQL query2').item.json.user_id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        -48
      ],
      "id": "15df2831-48b4-439a-bbcf-f11ac2a30dc1",
      "name": "Deduction Node",
      "credentials": {
        "postgres": {
          "id": "mnx6Ptx3pJz2pBO9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "sharyn-nonpeaked-nonconcurrently.ngrok-free.dev",
            "user-agent": "LineBotWebhook/2.0",
            "content-length": "375",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "147.92.150.194",
            "x-forwarded-host": "sharyn-nonpeaked-nonconcurrently.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "x-line-signature": "r4hatQqFCtJg0+EiSq0WywcDE3UM5KJ5OLdcQs8WWk4=",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "U255237963706f7c7b45ddc7518eb60a7",
            "events": [
              {
                "type": "postback",
                "postback": {
                  "data": "action=approve&reqId=20"
                },
                "webhookEventId": "01KDNBC2TH33SJJQ88SZD5ANZV",
                "deliveryContext": {
                  "isRedelivery": false
                },
                "timestamp": 1767021873497,
                "source": {
                  "type": "user",
                  "userId": "U8a47505f761845b3a5033d2895920c5c"
                },
                "replyToken": "37bf04c918514577adc3b19664c4e3a9",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "https://sharyn-nonpeaked-nonconcurrently.ngrok-free.dev/webhook/69267316-46fd-4da0-8a0a-42b45da9f70d/webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "string map to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "User Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1 to send a polite reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Leave Request": {
      "main": [
        [
          {
            "node": "Success Request MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1 to send a polite reply": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1 to send a polite reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Line Messaging2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Line Messaging4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Check": {
      "main": [
        [
          {
            "node": "Balance Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "string map to json": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If enough balance": {
      "main": [
        [
          {
            "node": "Insert Leave Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Request MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Balance Validation": {
      "main": [
        [
          {
            "node": "If enough balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Request MSG": {
      "main": [
        [
          {
            "node": "Notify to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Deduction Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "errorWorkflow": "NztD4KJzI3u6x2DR",
    "executionTimeout": 900,
    "timeSavedPerExecution": 1
  },
  "versionId": "819db06f-7192-4d9c-8e8f-835aa4368ba2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0aed9a14df7a06c9ac4ff1a231c95d7e8810c8a44b594e60cbfca0d1ff2e9a6"
  },
  "id": "NztD4KJzI3u6x2DR",
  "tags": []
}