workflows/workflow.json
[{"updatedAt":"2026-01-01T12:23:44.684Z","createdAt":"2025-12-14T15:42:35.916Z","id":"NztD4KJzI3u6x2DR","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"69267316-46fd-4da0-8a0a-42b45da9f70d/webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-624,-64],"id":"376eb968-e1d3-4b99-8885-85f6df40fc5f","name":"Webhook","webhookId":"69267316-46fd-4da0-8a0a-42b45da9f70d"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,-384],"id":"66319360-ef2b-4a44-a5b0-10cdb010acb5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"BuGN9nUzSAqaGAxY","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.events[0].message.text }}","messages":{"messageValues":[{"message":"==Role: You are an HR Automation Engine. Task: Extract intent and entities from Thai or any language text into JSON. \n\nCurrent Date: {{ $now.format('yyyy-MM-dd') }} \nRules: \n\n\n1. Intent: Must be one of the following:\n   - 'leave_request': User wants to apply for new leave.\n   - 'check_balance': User asks for sick/vacation leave quota.\n   - 'query_leave_calendar': User asks \"Who is on leave?\", \"Team schedule\", etc.\n   - 'manage_requests': User wants to **cancel**, **check status**, **view history**, or **see active requests**.\n   - 'unknown': Chit-chat or unrelated topics.\n\n2. Entities:    \n   - type: 'sick' or 'vacation' (null if unknown for leave_request). For 'query_leave_calendar', this can be 'all' or specific leave types if mentioned.\n   - start_date: YYYY-MM-DD (Calculate relative dates)     \n   - end_date: YYYY-MM-DD     \n   - reason: String (or null) (only for leave_request)\n   - department: String (or null) (e.g., 'แผนก A', 'Software') (only for query_leave_calendar)\n\n3. Date Logic:\n   - If a range is mentioned (e.g., \"Monday to Wednesday\"), calculate both dates.\n   - If only one day is mentioned (e.g., \"tomorrow\" or \"วันนี้\"), start_date and end_date MUST be the same.\n   - For queries like \"สัปดาห์นี้\" (this week), infer the current week's start and end dates based on Current Date.\n   - For queries like \"เดือนนี้\" (this month), infer the current month's start and end dates based on Current Date.\n\n4. Output: RAW JSON ONLY. \n   No markdown (```json). No chatter. \n\nExample Input: \"ขอลาป่วยพรุ่งนี้ถึงมะรืน ปวดหัว\" \nExample Output: { \"intent\": \"leave_request\", \"entities\": { \"type\": \"sick\", \"start_date\": \"2025-12-17\", \"end_date\": \"2025-12-18\", \"reason\": \"ปวดหัว\", \"department\": null } }\n\nExample Input: \"วันนี้ใครลา?\"\nExample Output: { \"intent\": \"query_leave_calendar\", \"entities\": { \"type\": \"all\", \"start_date\": \"2025-12-30\", \"end_date\": \"2025-12-30\", \"reason\": null, \"department\": null } }\n\nExample Input: \"สัปดาห์นี้มีใครลาบ้าง?\"\nExample Output: { \"intent\": \"query_leave_calendar\", \"entities\": { \"type\": \"all\", \"start_date\": \"2025-12-29\", \"end_date\": \"2026-01-04\", \"reason\": null, \"department\": null } }\n\nExample Input: \"เดือนนี้แผนก Software มีใครลาป่วย?\"\nExample Output: { \"intent\": \"query_leave_calendar\", \"entities\": { \"type\": \"sick\", \"start_date\": \"2025-12-01\", \"end_date\": \"2025-12-31\", \"reason\": null, \"department\": \"Software\" } }\n\nExample Input: \"ขอยกเลิกวันลา\"\nExample Output: { \"intent\": \"manage_requests\", \"entities\": { \"type\": null, \"start_date\": null, \"end_date\": null, \"reason\": null, \"department\": null } }\n\nExample Input: \"ดูรายการลาที่ยื่นไปหน่อย\" (Show my submitted requests)\nExample Output: { \"intent\": \"manage_requests\", \"entities\": { \"type\": null, \"start_date\": null, \"end_date\": null, \"reason\": null, \"department\": null } }\n\nExample Input: \"สถานะการลาเป็นยังไงบ้าง\" (How is my leave status?)\nExample Output: { \"intent\": \"manage_requests\", \"entities\": { \"type\": null, \"start_date\": null, \"end_date\": null, \"reason\": null, \"department\": null } }\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-32,-576],"id":"6aa92902-55a8-4557-ad47-82f90140cbba","name":"Basic LLM Chain"},{"parameters":{"operation":"setMetrics","expectedAnswer":"g","actualAnswer":"g","options":{}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[464,688],"id":"4bedb98a-9ee2-4446-b396-2707c3e4dc31","name":"Evaluation1"},{"parameters":{"dataTableId":{"__rl":true,"value":"={{ $now }}","mode":"id"}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[64,672],"id":"0bc3b895-6e30-4d31-9e65-088435b53ca7","name":"Evaluation"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"leave_request","operator":{"type":"string","operation":"equals"},"id":"274fef03-4c51-4870-b7a4-2346ac12679c"}],"combinator":"and"},"renameOutput":true,"outputKey":"leave_request"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"99f0197d-96b3-46d5-a317-41260c539d6d","leftValue":"={{ $json.intent }}","rightValue":"check_balance","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"check_balance"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2b3ca9cd-b214-43b2-974b-6beff8c5df0c","leftValue":"={{ $json.intent }}","rightValue":"query_leave_calendar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"query_leave_calendar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a2934619-b997-4073-b11f-98adb3d012cc","leftValue":"={{ $json.intent }}","rightValue":"manage_requests","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"manage_requests"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[608,-592],"id":"66ba2ce6-a2da-46e9-bbac-70d3a2b597b2","name":"Switch"},{"parameters":{"replyToken":"={{ $('Webhook').item.json.body.events[0].replyToken }}","messages":{"values":[{"text":"={{ $json.text }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1584,-288],"id":"c82f2fa4-3910-40c7-9ce9-bcae4a8b610f","name":"Line Messaging","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO leave_requests (user_id, leave_type, start_date, end_date, reason)\nVALUES (\n  -- 1. Get the ID from the previous Postgres node\n'{{ $json.user_id }}',\n  -- 2. Get the Type from the AI (Parsed from JSON)\n  '{{ $('Switch').item.json.entities.type }}',\n  \n  -- 3. Get the Date \n  '{{ $('string map to json').item.json.entities.start_date }}',\n  '{{ $('string map to json').item.json.entities.end_date }}',\n  \n  -- 4. Get the Reason\n  '{{ $('Switch').item.json.entities.reason }}'\n)\nRETURNING request_id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1792,-1648],"id":"0340e868-21c0-4452-b154-84e7b31fc7ec","name":"Insert Leave Request","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.events[0].message.text }}","messages":{"messageValues":[{"message":"You are a friendly and professional HR Assistant for a company.\n\nYour Goal: Reply to the user's message politely and briefly.\n\nGuidelines:\n\nIf the user says \"Hello\" or greets you, greet them back warmly.\n\nIf the user asks who you are, explain that you are the HR Leave Automation Bot.\n\nIf the user talks about something unrelated (like football or weather), politely remind them that you can only help with specific task.\n\nKeep your answer short (under 2 sentences).\n\nReply in the same language the user used (Thai, English or anylanguage)."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1232,-368],"id":"9cc95186-78be-4f27-aac6-90abd6bbbca3","name":"Basic LLM Chain1 to send a polite reply"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-48,-384],"id":"7827f63b-1f9b-4e0a-8d3f-833d24690a4f","name":"Groq Chat Model","credentials":{"groqApi":{"id":"q9ZOh8D4WsS9mKte","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1264,-192],"id":"5413fbda-19ee-40a4-9c61-e179d34d2578","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"BuGN9nUzSAqaGAxY","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1440,-128],"id":"f2cc5a74-9ee0-4a5c-892f-5a15c0fe3b89","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"q9ZOh8D4WsS9mKte","name":"Groq account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT sick_leave_balance, vacation_leave_balance \nFROM users \nWHERE line_user_id = '{{ $('Webhook').item.json.body.events[0].source.userId }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1024,-1120],"id":"4aa74702-3dc6-4ddf-9b87-58eac860f817","name":"Execute a SQL query1","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"replyToken":"={{ $('Webhook').item.json.body.events[0].replyToken }}","messages":{"values":[{"text":"=Here is your current leave balance:\n\n🤒 Sick Leave: {{ $json.sick_leave_balance }} days\nvacation Vacation Leave:  {{ $json.vacation_leave_balance }}days\n\n(Data from HR Database)"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1344,-1184],"id":"d69025c9-eb61-4e15-87f4-59fbc8cec4bc","name":"Line Messaging2","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.body.events[0].type }}","rightValue":"message","operator":{"type":"string","operation":"equals"},"id":"60177f2f-dd3f-45e4-b4a8-fd5944d0d699"}],"combinator":"and"},"renameOutput":true,"outputKey":"Chat"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9c8edeaf-0726-4681-b8b9-4bce044a1ba0","leftValue":"={{ $json.body.events[0].type }}","rightValue":"postback","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Button Click"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-464,-48],"id":"52dae2e8-46fb-4cca-984c-6cb570bfde72","name":"Switch1"},{"parameters":{"jsCode":"\n// 1.Get the data string (e.g., \"action=approve&reqId=15\")\nconst dataString = $('Webhook').first().json.body.events[0].postback.data;\nconst replyToken = $('Webhook').first().json.body.events[0].replyToken;\n//2. Parse it manually\nconst params = {};\ndataString.split('&').forEach(part => {\n  const [key, value] = part.split('=');\n  params[key] = value;\n});\n\n// 3. Return the clean JSON\nreturn {\n  json: {\n    action: params.action, // \"approve\" or \"reject\"\n    reqId: params.reqId,    // \"15\"\n    replyToken: replyToken // Pass it forward for the Reply node to use\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,80],"id":"a1c6032c-93a3-45c4-958d-fde80d720a0d","name":"Code in JavaScript1"},{"parameters":{"operation":"executeQuery","query":"UPDATE leave_requests\nSET status = CASE\n  WHEN '{{ $('Code in JavaScript1').item.json.action }}' = 'approve' THEN 'approved'\n   WHEN '{{ $('Code in JavaScript1').item.json.action }}' = 'reject' THEN 'rejected'\n   ELSE '{{ $('Code in JavaScript1').item.json.action }}'\nEND\nWHERE request_id = {{ $('Code in JavaScript1').item.json.reqId }}\nRETURNING user_id, leave_type, start_date, end_date;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[608,416],"id":"abca7278-b46d-4019-9f4b-a02133855f24","name":"Execute a SQL query2","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"replyToken":"={{ $('Code in JavaScript1').item.json.replyToken }}","messages":{"values":[{"quoteToken":"=","text":"=Request #{{ $('Code in JavaScript1').item.json.reqId }} has been {{ $('Code in JavaScript1').item.json.action }}ed."}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1936,480],"id":"270a6a43-bd26-4ddc-8a17-fdb00d8b74aa","name":"Line Messaging4","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO users (line_user_id, display_name)\nVALUES ('{{ $('Webhook').item.json.body.events[0].source.userId }}', 'Unknown')\nON CONFLICT (line_user_id) \nDO UPDATE SET is_active = TRUE\nRETURNING user_id, sick_leave_balance, vacation_leave_balance;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[960,-1440],"id":"271225ac-3196-48ed-ad29-1690ee511668","name":"User Check","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst rawData = $input.first().json.text;\nreturn {\n  json: JSON.parse(rawData)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-528],"id":"0ac2a535-db73-49a5-b959-6f48641c264d","name":"string map to json"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"69caff93-7cfb-4189-a230-1cef1030b467","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1456,-1440],"id":"c05b8b4b-6fbd-49e0-9596-883540b568b1","name":"If enough balance"},{"parameters":{"jsCode":"// 1. Get inputs from previous nodes\n// Note: Replace 'AI Parsing' and 'User Check' with your actual node names\nconst aiData = $('string map to json').first().json; \nconst userData = $input.first().json; \n\n// 2. Parse Dates & Calculate Duration\nconst start = new Date(aiData.entities.start_date);\nconst end = new Date(aiData.entities.end_date);\n\n// Calculate time difference in milliseconds\nconst diffTime = Math.abs(end - start);\n// Convert to days (Divide by ms per day) + 1 for inclusive dates\nconst duration = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) + 1;\n\n// 3. Check Balance based on Leave Type\nlet hasBalance = false;\nlet currentBalance = 0;\nconst leaveType = aiData.entities.type; // 'sick' or 'vacation'\n\nif (leaveType === 'sick') {\n  currentBalance = userData.sick_leave_balance;\n  hasBalance = currentBalance >= duration;\n} else if (leaveType === 'vacation') {\n  currentBalance = userData.vacation_leave_balance;\n  hasBalance = currentBalance >= duration;\n} else {\n  // Default for unknown types (or handle error)\n  hasBalance = false; \n}\n\n// 4. Return Data for the \"If\" Switch\nreturn {\n  json: {\n    isValid: hasBalance,\n    duration: duration,\n    currentBalance: currentBalance,\n    leaveType: leaveType,\n    // Pass through original data needed for next steps\n    start_date: aiData.entities.start_date,\n    end_date: aiData.entities.end_date,\n    reason: aiData.entities.reason,\n    user_id: userData.user_id\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,-1440],"id":"fe2647d7-81dd-4690-8764-35cb5c13e1c5","name":"Balance Validation"},{"parameters":{"operation":"send","to":"={{ $('Webhook').item.json.body.events[0].source.userId }}","messages":{"values":[{"altText":"New Leave Request!","flexJson":"={\n  \"type\": \"bubble\",\n  \"header\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"NEW REQUEST 📋\",\n        \"weight\": \"bold\",\n        \"color\": \"#1DB446\",\n        \"size\": \"sm\"\n      }\n    ]\n  },\n  \"body\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Sick Leave\",\n        \"weight\": \"bold\",\n        \"size\": \"xxl\",\n        \"margin\": \"md\"\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"Reason: {{ $('string map to json').item.json.entities.reason }}\",\n        \"size\": \"xs\",\n        \"color\": \"#aaaaaa\",\n        \"wrap\": true\n      },\n      {\n        \"type\": \"separator\",\n        \"margin\": \"xxl\"\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"margin\": \"xxl\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"Start\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $('string map to json').item.json.entities.start_date }}\",\n                \"wrap\": true,\n                \"color\": \"#666666\",\n                \"size\": \"sm\",\n                \"flex\": 5\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"End\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $('string map to json').item.json.entities.end_date }}\",\n                \"wrap\": true,\n                \"color\": \"#666666\",\n                \"size\": \"sm\",\n                \"flex\": 5\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"spacing\": \"sm\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"ID\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $('Insert Leave Request').item.json.request_id }}\",\n                \"wrap\": true,\n                \"color\": \"#666666\",\n                \"size\": \"sm\",\n                \"flex\": 5\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  },\n  \"footer\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"spacing\": \"sm\",\n    \"contents\": [\n      {\n        \"type\": \"button\",\n        \"style\": \"primary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"postback\",\n          \"label\": \"Approve\",\n          \"data\": \"action=approve&reqId={{ $('Insert Leave Request').item.json.request_id }}\",\n          \"displayText\": \"I approve this request\"\n        }\n      },\n      {\n        \"type\": \"button\",\n        \"style\": \"secondary\",\n        \"height\": \"sm\",\n        \"action\": {\n          \"type\": \"postback\",\n          \"label\": \"Reject\",\n          \"data\": \"action=reject&reqId={{ $('Insert Leave Request').item.json.request_id }}\",\n          \"displayText\": \"I reject this request\"\n        }\n      }\n    ],\n    \"flex\": 0\n  }\n}","type":"flex"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[2208,-1600],"id":"6897e187-58e2-44e2-a546-5d792d4a76f7","name":"Notify to Manager","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"replyToken":"={{ $('Webhook').item.json.body.events[0].replyToken }}","messages":{"values":[{"text":"=Leave Request Received! 📝\nType: {{ $('string map to json').item.json.intent }}\nStart Date: {{ $('string map to json').item.json.entities.start_date }}\nEnd Date: {{ $('string map to json').item.json.entities.end_date }}\nReason: {{ $('string map to json').item.json.entities.reason }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1984,-1600],"id":"10bc7ee1-d92a-4078-a776-88aa971c4110","name":"Success Request MSG","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"replyToken":"={{ $('Webhook').item.json.body.events[0].replyToken }}","messages":{"values":[{"altText":"❌ Request Rejected","flexJson":"={\n  \"type\": \"bubble\",\n  \"styles\": {\n    \"header\": {\n      \"backgroundColor\": \"#FFEBEE\"\n    }\n  },\n  \"header\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"REQUEST REJECTED ❌\",\n        \"weight\": \"bold\",\n        \"color\": \"#D32F2F\",\n        \"size\": \"sm\"\n      }\n    ]\n  },\n  \"body\": {\n    \"type\": \"box\",\n    \"layout\": \"vertical\",\n    \"contents\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"Insufficient Balance\",\n        \"weight\": \"bold\",\n        \"size\": \"xl\",\n        \"margin\": \"md\",\n        \"color\": \"#333333\"\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"You do not have enough leave days remaining for this request.\",\n        \"size\": \"sm\",\n        \"color\": \"#666666\",\n        \"wrap\": true,\n        \"margin\": \"md\"\n      },\n      {\n        \"type\": \"separator\",\n        \"margin\": \"lg\"\n      },\n      {\n        \"type\": \"box\",\n        \"layout\": \"vertical\",\n        \"margin\": \"lg\",\n        \"spacing\": \"sm\",\n        \"contents\": [\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"Requested\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $json.duration }} days\",\n                \"wrap\": true,\n                \"color\": \"#333333\",\n                \"size\": \"sm\",\n                \"flex\": 2,\n                \"weight\": \"bold\"\n              }\n            ]\n          },\n          {\n            \"type\": \"box\",\n            \"layout\": \"baseline\",\n            \"contents\": [\n              {\n                \"type\": \"text\",\n                \"text\": \"Remaining\",\n                \"color\": \"#aaaaaa\",\n                \"size\": \"sm\",\n                \"flex\": 1\n              },\n              {\n                \"type\": \"text\",\n                \"text\": \"{{ $json.currentBalance }} days\",\n                \"wrap\": true,\n                \"color\": \"#333333\",\n                \"size\": \"sm\",\n                \"flex\": 2,\n                \"weight\": \"bold\"\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  }\n}","type":"flex"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1760,-1344],"id":"421c826a-83b2-4f88-8307-c7f3bcacfab0","name":"Failed Request MSG","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE users\nSET\n  sick_leave_balance = CASE\n    WHEN '{{ $('Execute a SQL query2').item.json.leave_type }}' = 'sick'\n    THEN sick_leave_balance - (('{{ new Date($('Execute a SQL query2').item.json.end_date).toISOString().split('T')[0] }}'::date - '{{ new\n      Date($('Execute a SQL query2').item.json.start_date).toISOString().split('T')[0] }}'::date) + 1)\n    ELSE sick_leave_balance\n  END,\n vacation_leave_balance = CASE\n   WHEN '{{ $('Execute a SQL query2').item.json.leave_type }}' = 'vacation'\n    THEN vacation_leave_balance - (('{{ new Date($('Execute a SQL query2').item.json.end_date).toISOString().split('T')[0] }}'::date - '{{ new\n      Date($('Execute a SQL query2').item.json.start_date).toISOString().split('T')[0] }}'::date) + 1)\n   ELSE vacation_leave_balance\n  END\nWHERE user_id = {{ $('Execute a SQL query2').item.json.user_id }}\nRETURNING user_id;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,416],"id":"15df2831-48b4-439a-bbcf-f11ac2a30dc1","name":"Deduction Node","alwaysOutputData":false,"credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"jsCode":"// Get inputs safely\nconst requestData = $('Execute a SQL query2').first().json; \nconst reqId = $('Code in JavaScript1').first().json.reqId;\n\n// Helper to ensure we work with pure dates (ignoring time components)\n// This prevents bugs where start_date has 00:00 and end_date has 00:00 but timezone shifts make them unequal\nfunction parseDate(dateStr) {\n    const d = new Date(dateStr);\n    d.setHours(0, 0, 0, 0);\n    return d;\n}\n\nconst startDate = parseDate(requestData.start_date);\nconst endDate = parseDate(requestData.end_date);\nconst userId = requestData.user_id;\nconst leaveType = requestData.leave_type;\n\nconst datesToAdd = [];\n// Clone start date to iterate\nlet currentDate = new Date(startDate);\n\n// Safety break to prevent infinite loops (e.g. if end date is 100 years away)\nlet safetyCounter = 0;\nconst MAX_DAYS = 365 * 2; // Max 2 years\n\nwhile (currentDate.getTime() <= endDate.getTime()) {\n  if (safetyCounter++ > MAX_DAYS) break;\n\n  // Check if weekend (0 = Sunday, 6 = Saturday)\n  const dayOfWeek = currentDate.getDay();\n  \n  // Only add if it's a weekday (Monday=1 to Friday=5)\n  if (dayOfWeek !== 0 && dayOfWeek !== 6) {\n    // Format YYYY-MM-DD manually to avoid timezone shift in toISOString()\n    // Using local time components since we normalized to 00:00 local time above\n    const year = currentDate.getFullYear();\n    const month = String(currentDate.getMonth() + 1).padStart(2, '0');\n    const day = String(currentDate.getDate()).padStart(2, '0');\n    const dateStr = `${year}-${month}-${day}`;\n\n    datesToAdd.push({\n      json: {\n        request_id: reqId,\n        employee_id: userId,\n        date: dateStr,\n        leave_type: leaveType\n      }\n    });\n  }\n  \n  // Move to next day (add 24 hours safe way)\n  currentDate.setDate(currentDate.getDate() + 1);\n}\n\nreturn datesToAdd;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,432],"id":"86d0631e-98ee-4a65-bafb-a1f8c9e771de","name":"Generate Calendar Dates","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"INSERT INTO leave_calendar (request_id, employee_id, date, leave_type)\nVALUES ({{ $json.request_id }}, {{ $json.employee_id }}, '{{ $json.date }}', '{{ $json.leave_type }}')\nON CONFLICT (employee_id, date) DO NOTHING;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1552,432],"id":"69cd821b-ead7-4a97-981b-05f5f158009f","name":"Insert Calendar Entries","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n    lc.date,\n    u.display_name,\n    lc.leave_type\nFROM\n    leave_calendar lc\nJOIN\n    users u ON lc.employee_id = u.user_id\nWHERE\n    lc.date BETWEEN '{{ $('string map to json').item.json.entities.start_date }}' AND '{{ $('string map to json').item.json.entities.end_date }}'\n    -- Optional: Filter by leave type if not 'all'\n    -- Note: You might need to adjust the logic if 'type' is null or 'all'\nORDER BY\n    lc.date, u.display_name;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1104,-864],"id":"72dac374-29c4-4bb9-ad6c-c00349c8813c","name":"Query Leave Calendar","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst replyToken = $('Webhook').first().json.body.events[0].replyToken;\n\n// If no items returned from DB (empty array)\nif (!items || items.length === 0) {\n    return [{ json: { text: \"✅ No one is on leave during this period.\" } }];\n}\n\n// Group by Date\nconst groupedByDate = items.reduce((acc, item) => {\n    // Access the JSON data of the item\n    const data = item.json; \n    \n    // Format date string (assuming YYYY-MM-DD from DB)\n    const dateStr = new Date(data.date).toDateString(); \n    \n    if (!acc[dateStr]) {\n        acc[dateStr] = [];\n    }\n    acc[dateStr].push(`${data.display_name} (${data.leave_type})`);\n    return acc;\n}, {});\n\n// Build the response string\nlet responseText = \"📅 *Leave Schedule* 📅\\n\\n\";\n\nfor (const date in groupedByDate) {\n    responseText += `🔻 *${date}*\\n`;\n    groupedByDate[date].forEach(entry => {\n        responseText += `   • ${entry}\\n`;\n    });\n    responseText += \"\\n\";\n}\n\nreturn [{ \n    json: {\n      replyToken: replyToken,\n      text: responseText \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-864],"id":"2f41cf26-53c6-4c08-92a5-ab4e6c25422d","name":"Format Calendar Response"},{"parameters":{"replyToken":"={{ $json.replyToken }}","messages":{"values":[{"text":"={{ $json.text }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1520,-864],"id":"e27f61eb-0234-4bd8-8055-d10c1b4c85eb","name":"Line Messaging1","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    request_id,\n    leave_type,\n    start_date,\n    end_date,\n    status,\n    (end_date - start_date) + 1 AS days\nFROM leave_requests\nWHERE \n    user_id = (SELECT user_id FROM users WHERE line_user_id = '{{ $('Webhook').item.json.body.events[0].source.userId }}')\n    AND status IN ('pending', 'approved')\n    AND start_date >= CURRENT_DATE\nORDER BY start_date ASC\nLIMIT 10;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,-560],"id":"285eb9ae-1c80-4827-b095-bb567a750826","name":"Get Active Leaves","alwaysOutputData":true,"credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"jsCode":"// 1. Get the Reply Token safely\nconst replyToken = $('Webhook').first().json.body.events[0].replyToken;\n\nconst requests = $input.all();\nlet flexContents = {};\nlet altText = \"\";\n\n// Robust check: Is the list empty OR is the first item just an empty placeholder?\n// The 'request_id' is a good indicator of actual data.\nconst hasData = requests.length > 0 && requests[0].json && requests[0].json.request_id;\n\nif (!hasData) {\n    // Case: No active leaves found\n    altText = \"No active leaves\";\n    flexContents = {\n        \"type\": \"bubble\",\n        \"body\": {\n            \"type\": \"box\",\n            \"layout\": \"vertical\",\n            \"contents\": [\n                {\n                    \"type\": \"text\",\n                    \"text\": \"You don't have any pending or approved leaves right now. ✅\",\n                    \"wrap\": true,\n                    \"weight\": \"bold\",\n                    \"color\": \"#555555\"\n                }\n            ],\n            \"paddingAll\": \"20px\"\n        }\n    };\n} else {\n    // Case: Generate Carousel of Leaves\n    altText = \"Select a leave to cancel\";\n    const bubbles = requests.map(req => {\n        const data = req.json;\n        const statusColor = data.status === 'approved' ? '#27AE60' : '#F39C12'; // Green or Orange\n        \n        return {\n            \"type\": \"bubble\",\n            \"size\": \"micro\",\n            \"header\": {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                    {\n                        \"type\": \"text\",\n                        \"text\": (data.leave_type || \"LEAVE\").toUpperCase(), // Fallback for leave_type\n                        \"color\": \"#ffffff\",\n                        \"weight\": \"bold\",\n                        \"size\": \"sm\"\n                    }\n                ],\n                \"backgroundColor\": statusColor,\n                \"paddingAll\": \"12px\"\n            },\n            \"body\": {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                    {\n                        \"type\": \"text\",\n                        \"text\": `${new Date(data.start_date).toDateString()}`,\n                        \"size\": \"xs\",\n                        \"color\": \"#555555\"\n                    },\n                    {\n                        \"type\": \"text\",\n                        \"text\": `${data.days} Day(s)`,\n                        \"size\": \"xs\",\n                        \"margin\": \"sm\",\n                        \"weight\": \"bold\"\n                    }\n                ],\n                \"paddingAll\": \"12px\"\n            },\n            \"footer\": {\n                \"type\": \"box\",\n                \"layout\": \"vertical\",\n                \"contents\": [\n                    {\n                        \"type\": \"button\",\n                        \"action\": {\n                            \"type\": \"postback\",\n                            \"label\": \"Cancel\",\n                            \"data\": `action=cancel&reqId=${data.request_id}`\n                        },\n                        \"style\": \"secondary\",\n                        \"height\": \"sm\",\n                        \"color\": \"#D32F2F\"\n                    }\n                ],\n                \"paddingAll\": \"12px\"\n            }\n        };\n    });\n    \n    flexContents = {\n        \"type\": \"carousel\",\n        \"contents\": bubbles\n    };\n}\n\nreturn [{\n    json: {\n        replyToken: replyToken,\n        altText: altText,\n        contents: flexContents\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,-512],"id":"44aa23f3-fd85-4302-b424-29f60f78d285","name":"Format Cancel Carousel"},{"parameters":{"operation":"executeQuery","query":"/* 1. Remove from Calendar */\nDELETE FROM leave_calendar \nWHERE request_id = {{ $('Code in JavaScript1').item.json.reqId }};\n\n/* 2. Refund Balance (Logic handled in query) */\nWITH request_info AS (\n    SELECT user_id, leave_type, (end_date - start_date + 1) as days, status\n    FROM leave_requests \n    WHERE request_id = {{ $('Code in JavaScript1').item.json.reqId }}\n)\nUPDATE users\nSET \n    sick_leave_balance = CASE \n        WHEN (SELECT status FROM request_info) = 'approved' AND (SELECT leave_type FROM request_info) = 'sick' \n        THEN sick_leave_balance + (SELECT days FROM request_info)\n        ELSE sick_leave_balance\n    END,\n    vacation_leave_balance = CASE \n        WHEN (SELECT status FROM request_info) = 'approved' AND (SELECT leave_type FROM request_info) = 'vacation' \n        THEN vacation_leave_balance + (SELECT days FROM request_info)\n        ELSE vacation_leave_balance\n    END\nWHERE user_id = (SELECT user_id FROM request_info);\n\n/* 3. Mark Request as Cancelled */\nUPDATE leave_requests \nSET status = 'cancelled' \nWHERE request_id = {{ $('Code in JavaScript1').item.json.reqId }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,160],"id":"83703c22-67d2-47fb-b83b-41b5feceb855","name":"Process Cancellation","credentials":{"postgres":{"id":"mnx6Ptx3pJz2pBO9","name":"Postgres account"}}},{"parameters":{"replyToken":"={{ $json.replyToken }}","messages":{"values":[{"altText":"={{ $('Format Cancel Carousel').first().json.altText }}","flexJson":"={{ JSON.stringify($('Format Cancel Carousel').first().json.contents) }}","type":"flex"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1888,-528],"id":"a3c5dd2e-6631-4d83-988a-d7bd2ace3ff0","name":"Send Cancel Options1","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"cancel","operator":{"type":"string","operation":"equals"},"id":"9d6f7ddf-2d31-409a-aeff-2d8d8dcb7f34"}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fa116066-4860-40aa-bb33-52b68eb70c70","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Approve/Reject"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[128,192],"id":"86e341af-c481-4305-b945-72e0e679fb74","name":"Action Router"},{"parameters":{"replyToken":"={{ $('Code in JavaScript1').item.json.replyToken }}","messages":{"values":[{"text":"=Request #{{ $('Code in JavaScript1').item.json.reqId }} has been {{ $('Code in JavaScript1').item.json.action }}ed."}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[896,192],"id":"5fbbf179-23e9-4322-a43d-5d1b60177474","name":"Line Messaging5","credentials":{"lineMessagingApi":{"id":"ywcMulJz3h91in74","name":"Line Messaging account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Evaluation":{"main":[[{"node":"Evaluation1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"string map to json","type":"main","index":0}]]},"Switch":{"main":[[{"node":"User Check","type":"main","index":0}],[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"Query Leave Calendar","type":"main","index":0}],[{"node":"Get Active Leaves","type":"main","index":0}],[{"node":"Basic LLM Chain1 to send a polite reply","type":"main","index":0}]]},"Insert Leave Request":{"main":[[{"node":"Success Request MSG","type":"main","index":0}]]},"Basic LLM Chain1 to send a polite reply":{"main":[[{"node":"Line Messaging","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1 to send a polite reply","type":"ai_languageModel","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[]]},"Execute a SQL query1":{"main":[[{"node":"Line Messaging2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Action Router","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Deduction Node","type":"main","index":0}]]},"User Check":{"main":[[{"node":"Balance Validation","type":"main","index":0}]]},"string map to json":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If enough balance":{"main":[[{"node":"Insert Leave Request","type":"main","index":0}],[{"node":"Failed Request MSG","type":"main","index":0}]]},"Balance Validation":{"main":[[{"node":"If enough balance","type":"main","index":0}]]},"Success Request MSG":{"main":[[{"node":"Notify to Manager","type":"main","index":0}]]},"Line Messaging4":{"main":[[]]},"Deduction Node":{"main":[[{"node":"Generate Calendar Dates","type":"main","index":0}]]},"Generate Calendar Dates":{"main":[[{"node":"Insert Calendar Entries","type":"main","index":0}]]},"Query Leave Calendar":{"main":[[{"node":"Format Calendar Response","type":"main","index":0}]]},"Format Calendar Response":{"main":[[{"node":"Line Messaging1","type":"main","index":0}]]},"Get Active Leaves":{"main":[[{"node":"Format Cancel Carousel","type":"main","index":0}]]},"Format Cancel Carousel":{"main":[[{"node":"Send Cancel Options1","type":"main","index":0}]]},"Process Cancellation":{"main":[[{"node":"Line Messaging5","type":"main","index":0}]]},"Action Router":{"main":[[{"node":"Process Cancellation","type":"main","index":0}],[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Insert Calendar Entries":{"main":[[{"node":"Line Messaging4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Asia/Bangkok","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"NztD4KJzI3u6x2DR","executionTimeout":900,"timeSavedPerExecution":1},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"sharyn-nonpeaked-nonconcurrently.ngrok-free.dev","user-agent":"LineBotWebhook/2.0","content-length":"375","content-type":"application/json; charset=utf-8","x-forwarded-for":"147.92.150.194","x-forwarded-host":"sharyn-nonpeaked-nonconcurrently.ngrok-free.dev","x-forwarded-proto":"https","x-line-signature":"6ZE+FJFY6oROrhGqLEtwtZx3LyXk/55r5snKInDqWjw=","accept-encoding":"gzip"},"params":{},"query":{},"body":{"destination":"U255237963706f7c7b45ddc7518eb60a7","events":[{"type":"postback","postback":{"data":"action=approve&reqId=29"},"webhookEventId":"01KDW27A19Q54V5SMA7AXB8V95","deliveryContext":{"isRedelivery":false},"timestamp":1767247161264,"source":{"type":"user","userId":"U8a47505f761845b3a5033d2895920c5c"},"replyToken":"30ebeb0d312f4aeb994248303f07ce6d","mode":"active"}]},"webhookUrl":"https://sharyn-nonpeaked-nonconcurrently.ngrok-free.dev/webhook/69267316-46fd-4da0-8a0a-42b45da9f70d/webhook","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"75131848-2670-4b8c-9e15-f3fd38b49414","activeVersionId":"75131848-2670-4b8c-9e15-f3fd38b49414","versionCounter":267,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-14T15:42:35.944Z","createdAt":"2025-12-14T15:42:35.944Z","role":"workflow:owner","workflowId":"NztD4KJzI3u6x2DR","projectId":"4cIyareMLnwCQDjS","project":{"updatedAt":"2025-12-14T14:16:52.099Z","createdAt":"2025-12-14T13:48:15.663Z","id":"4cIyareMLnwCQDjS","name":"Thanakrit Jomhong <thanakritjomhong@gmail.com>","type":"personal","icon":null,"description":null}}]}]